
li {    
        
    list-style: none;
    display: flex;
    align-items: center;   
    height: 60px;     
}

li:hover
{
    font-weight:bold;
}

.title-section
{                 
    flex:14;        
    align-items: center;
    justify-content: flex-start;
    display: flex;    
}
.text-content
{    
    text-align: left;        
}

form
{
    flex: 1;
    justify-content: flex-start;
    display: flex;
}

.text-input
{    
    height: 40px;
    font-size: 1.0em;
    width: 80%;
}

.left-icon
{                      
    display: flex;    
    align-items: center;  
    width: 48px;
    height: 48px;
}

.right-item,
.center-item
{   
    flex-direction: row;      
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.odd
{
    background-color: green;
}

.even
{
    background-color: gainsboro;
}
