
.checkboxContainer
{    
  position:relative;    
}

/*hide the checkbox container*/
.checkboxContainer input
{
  position: absolute;
  opacity: 0;        
}

.checkboxContainer input:checked ~ .checkmark 
{
  background-color: #2196F3;
}

.checkmark
{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: goldenrod;
  border-radius: 10%;    margin-right: 40px;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display:block;
}

.checkboxContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 10%;
  background: white;
  content: "";
  position: absolute;
  display: none;  

}
  