.TodoTable 
{   
    width:70%;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;    
}

ul
{
    -webkit-padding-end:0;
    -webkit-padding-start:0;
}

li
{
    flex:1;
    width:Auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.odd
{
    background-color: green;
    color: white;
}

.even
{
    background-color: gainsboro;
    color: green;
}

.footer-section 
{       
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;

}
@media (max-width: 800px) {    
    .TodoTable
    {
        width: 86%;        
    }    
 }